<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendulum</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oxygen&display=swap" rel="stylesheet">    
    <style>
        body {
            background-color: #fcf2eb;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            color: #ad896e;
            justify-content: center;
            align-content: center; 
            height: 100%;
            font-family: 'Oxygen', sans-serif;
        }
        h1 {
            display: inline;
            text-align: center;
            padding: 2px;
            font-family: 'Montserrat', sans-serif
        }
    </style>
</head>
<body>
    <main>
        <h1>MAIN BOARD</h1>
        <div class="container top-container">
            <% taskitems.forEach(item => { %>
                <h3><div class="item-title"><%=item.taskName %></div></h3>
                  <a href="/pendulum/<%=item._id %>"></a><br>
    
                  <form action="/pendulum/<%=item._id %>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE" /></br></br>
                  </form>
              <% }) %>
          </div>
    </main>
</body>
</html>