<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendulum</title>
</head>
<body>
    <main>
        <h1>Board Title View</h1>
        <div class="container top-container">
            <% taskitems.forEach(item => { %>
                <h3><div class="item-title"><%=item.name %></div></h3>
                  <a href="/pendulum/<%=item._id %>"></a><br>
    
                  <form action="/pendulum/ %>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE" /></br></br>
                  </form>
              <% }) %>
          </div>
    </main>
</body>
</html>