<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Item</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oxygen&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- ============ HEADER ============ -->
  <!-- <%- include('./partials/header.ejs')%> -->
    <!-- ============ MAIN ============ -->
    <div class="todo-container">

      <h1>NEW TASK</h1>
      <form action="/pendulum" method="POST">
        <label for="taskName"></label>
        <input type="text" name="taskName" placeholder="Task"/><br><br>

        <label for="status"></label>
        <input type="text" name="status" placeholder="status"/><br><br>

        <label for="priority"></label>
        <input type="text" name="priority" placeholder="priority"/><br><br>

        <label for="date"></label>
        <input type="text" name="date" placeholder="date"/><br><br>

        <label for="notes"></label>
        <input type="text" name="notes" placeholder="notes"/><br><br>

        <button class="new-btn"><a href="/pendulum">ADD</a></button>
        <br><br>
      </form>
    </div>
</body>

</html>