<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <div class="container">
        <h1>New Task</h1>
        <form actions="/pendulum" method="POST">
            <label for="taskName">Task:</label>
            <input type="text" name="taskName"/><br><br>

            <label for="status">Status:</label>
            <input type="text" name="status"/><br><br>

            <label for="priority">Priority:</label>
            <input type="text" name="priority"/><br><br>

            <label for="date">Date:</label>
            <input type="text" name="date"/><br><br>

            <label for="notes">Notes:</label>
            <input type="text" name="notes"/><br><br>

            <button class="new-btn"><a href="/pendulum">Submit</a></button>
            <br><br>
        </form>
    </div>    
</body>
</html>