body {
    background-color: #fcf2eb;
    color: #ad896e;
    font-family: 'Oxygen', sans-serif;
  }

  h1 {
    display: inline;
    text-align: center;
    padding: 2px;
    font-family: 'Montserrat', sans-serif
  }

  .todo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    width: 500px;
    transform: translate(-50%, -50%);
    background: #d9c5B8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo {
    width: 500px;
    height: 900px;
    display: flex;
    border: solid #ece2db;
    flex-wrap: wrap;
  }

  .todo, .item-title-one, .user-list {
  flex-basis: 100%;
  }

  .item-title-one {
    display: flex;
    flex-direction: row;
    border-radius: 5px; 
    justify-content: space-between; 
    width: 500px;
    align-items: flex-start;

  }
  .user-list {
    display: flex;
    flex-direction: row;
    border-radius: 5px; 
    justify-content: space-between; 
    width: 500px;
    flex-wrap: wrap;
    align-items: flex-start;
    /* content: ""; */
    /* border: 0.5px solid #ece2db; */
    margin: 0 auto;
    /* flex: 1 1 0% */
    /* padding: 1rem; */
    /* border-radius: 1rem;  */
    /* margin-bottom:1rem;  */
  }
  .taskName {
    justify-content: space-between;
  }
#new-task-input {
    flex: 1 1 0%
}
.user-info {
    color: #6e6153;
    cursor: pointer;
    align-items: flex-end;
}






/* 
.edit {
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}
.delete {
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
} */
  
  /* Style the links inside the navigation bar */
  /* .topnav a {
    float: right;
    color: #c8a797;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
  /* Change the color of links on hover */
  /* .topnav a:hover {
    background-color: #fcf2eb;
    ;
    color: black;
  } */
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #ece2db;
    color: white; */ 