body {
    background-color: #fcf2eb;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/*top nav*/
.topnav {
    background-color: #acac9c;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #c8a797;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fcf2eb;
    ;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ece2db;
    color: white;